:root {
  --primary: #112B5C;
  --primary-dark: #183A73;
  --primary-light: #2E5FA8;

  --background: #FFFFFF;
  --surface: #EBEDF0;

  --text: #080809;
  --text-secondary: #4C4B4A;
  --muted: #94979C;

  --border: #D1CECE;
  --gray: #BEB8B3;

  --hero-bg: #EAF2FF;
  --font : "Boldonse", system-ui;
}

.boldonse-regular {
  font-family: "Boldonse", system-ui;
  font-weight: 400;
  font-style: normal;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header{
  
}
.slide-bar{
  color: var(--primary);
  background-image: -moz-element(bac);
  font-weight: bold;
  font-family: "Manrope", sans-serif;
  align-items: center;
  margin: 0px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  height: 80px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* Safari */
  border-radius: 15px;
  padding: 20px;


}
.slogan{
  margin-left: 10px;
}
.title{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.buttons{
  margin-left: 10px;
}
.slide-bar-btn{
  color: var(--primary);
  background: none;
  font-family: var(--font);
  padding: 10px 30px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s ease;
}
i{
  width: 40px;
}

.list-btn{
  border-radius: 10px;
  color: white;
  background-color: var(--primary-dark);
  border: none;
  font-size: 12px;
  font-family: var(--font);
  margin-left: 40px;
  padding: 12px 30px;
  transition: 0.5s ease;
  
}
.list-btn:hover{
  cursor: pointer;
  background-color: white;
  color: var(--primary-dark);
}
.hero{
  background-image: url(background-image.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}
.text-container{
  margin-top: 100px;
  align-items: center;
  justify-content: space-around;
}